<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードを忘れた方 - SUBKARI</title>
    <link rel="stylesheet" href="app/css/login1.css">
</head>
<body>

    <main class="main">
        <div class="container u-center-content">
            <h2 class="title">パスワードを忘れた方</h2>
            
            <p class="forgot-password__desc">
                ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
            </p>

            <form class="forgot-password__form-group">
                <label for="email" class="form__label">メールアドレス</label>
                <input type="email" id="email" class="form__input" required placeholder="">

                <button type="submit" class="btn btn--primary">送信する</button>
            </form>

            <p class="forgot-password__notice">
                *登録時のメールアドレスが利用できない場合、メールアドレスを送信して確認することができません。<br>
                お手数ですが<a href="#" class="forgot-password__link">こちら</a>でメールアドレス取得をお願いします。
            </p>
        </div>
    </main>

</body>
</html>