<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード再設定 - SUBKARI</title>
    <link rel="stylesheet" href="../../../app/static/css/login1.css">
</head>
<body>

    <main class="main">
        <div class="container u-center-content">
            <h2 class="title">パスワード再設定</h2>
            
            <form class="password-reset__form">
                <label for="password" class="form__label">パスワード</label>
                <input type="password" id="password" class="form__input" required>

                <label for="password-confirm" class="form__label">パスワード再入力</label>
                <input type="password" id="password-confirm" class="form__input" required>

                <button type="submit" class="btn btn--primary">登録する</button>
            </form>
        </div>
    </main>

</body>
</html>