<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード更新完了 - SUBKARI</title>
    <link rel="stylesheet" href="app/css/login1.css">
</head>
<body>
    <main class="main">
        <div class="container u-center-content">
            <h2 class="complete-message complete-message--updated">パスワードを更新しました。</h2>
            
            <a href="#" class="btn btn--secondary">ログイン画面へ戻る</a>
        </div>
    </main>

</body>
</html>