{% block header %}
<header>
        <div class="header">

            <div class="header-left">
                <div class="logo">SUBKARI</div>
                
                <div class="search-container">
                    <form action="/search" method="get" class="search-box">
                        <button type="submit" class="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" name="keyword" placeholder="すべてのアイテムから探す">
                    </form>
                </div>
            </div>

            <div class="header-right">
                {% if not user_id %}
                <div class="header-login">
                    <a href="#" class="">
                        <span>新規登録</span>
                    </a>
                    <a href="{{url_for('login.login')}}" class="">
                        <span>ログイン</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="{{ url_for('static', filename='img/hamburger.png') }}" class="icon"></img>
                    </a>
                </div>
                {% else %}    
                <div class="header-icons">
                    <a href="#" class="icon-item">
                        <img src="{{ url_for('static', filename='img/mypage.png') }}" class="icon"></img>
                        <span>マイページ</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="{{ url_for('static', filename='img/heart.png') }}" class="icon"></img>
                        <span>いいね</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="{{ url_for('static', filename='img/inform.png') }}" class="icon"></img>
                        <span>通知</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="{{ url_for('static', filename='img/camera.png') }}" class="icon"></img>
                        <span>出品</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="{{ url_for('static', filename='img/deal.png') }}" class="icon"></img>
                        <span>取引</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="{{ url_for('static', filename='img/hamburger.png') }}" class="icon"></img>
                    </a>
                </div>
                {% endif %}
                <div class="nav-container">
                    <nav>
                        <a href="#">Coordinate</a>
                        <a href="#">Tops</a>
                        <a href="#">Bottoms</a>
                        <a href="#">Accessories</a>
                    </nav>
                </div>
            </div>
          
        
        </div>
    </header>
{% endblock %}