{% extends "base.html" %}
{% block title %}
    マイページ
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bankRegistration.css') }}">

    <main class="mypage_main">
        <section class="nav">
            <ul class="nav-section">
                <li class="nav-section-title">アカウント情報</li>
                <li class="nav-item">プロフィール</li>
                <li class="nav-item" ><a href="{{url_for('mypage.todo')}}">やることリスト</a></li>
                <li class="nav-item">いいね一覧</li>
                <li class="nav-item">フォローリスト</li>
                <li class="nav-item">出品した商品</li>
                <li class="nav-item">レンタル・購入した商品</li>
                <li class="nav-item">下書き一覧</li>
                <li class="nav-item">セラーデータセンター</li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">設定</li>
                <li class="nav-item">お支払い方法</li>
                <li class="nav-item">個人情報設定</li>
                <li class="nav-item">お知らせ・機能設定</li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">残高</li>
                <li class="nav-item">振込申請</li>
                <li class="nav-item">履歴</li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">ヘルプ</li>
                <li class="nav-item"><a href="{{ url_for('mypage.inquiry') }}">問い合わせ</li>
                <li class="nav-item"><a href="{{ url_for('mypage.editProfile') }}">FAQ</li>
                <li class="nav-item"><a href="{{ url_for('mypage.editProfile') }}">ヘルプセンター</li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">規約・ポリシー</li>
                <li class="nav-item"><a href="{{url_for('mypage.terms')}}">利用規約</a></li>
                <li class="nav-item"><a href="{{url_for('mypage.privacyPolicy')}}">プライバシーポリシー</a></li>
            </ul>

            <ul class="nav-section">
                <li class="nav-section-title">アカウント管理</li>
                <li class="nav-item">ログアウト</li>
            </ul>
        </section>

        

        <section id="profile" class="active" class="sec"> 
            <div class="img-name">
                <img src="{{url_for('static' , filename='img/'+user_info.identifyImg)}}" alt="プロフィール画像" class="profile-image">
                <div class="profile-name">
                    <p>{{user_info.username}}</p>
                    <a href="{{ url_for('mypage.editProfile') }}">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" > 
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </div>
                    </a>
            </div>
                
                
            <div class="profile-rating">
                <span class="stars">
                    {% for i in range(evaluationCount)%}★{% endfor %}
                    {% for i in range(5-evaluationCount)%}☆{% endfor %}</span>
                <span class="rating-count">{{evaluation}}</span>
            </div>
            
            <div class="badge-group">
                <div class="badge">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    {% if user_info.status == "本人確認済み" %}
                        <p>本人確認済</p>
                    {% else %}
                        <p>未承認</p>
                    {% endif %}
                </div>
                {% if user_info.smoker == 0 %}
                    <span class="badge">喫煙者</span>
                {% else %}
                    <span class="badge">非喫煙者</span>
                {% endif %}
            </div>
            
            <div class="profile-stats">
                <div class="stat-item">
                    <span class="stat-number">{{products}}</span>
                    <span class="stat-label">出品数</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{follows}}</span>
                    <span class="stat-label">フォロー</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{followers}}</span>
                    <span class="stat-label">フォロワー</span>
                </div>
            </div>
            
            <div class="sold-info">
                <div class="sold-label">売上金</div>
                <div class="sold-amount">¥ 2</div>
            </div>
        </section>

        
        <section id="todo" class="sec">
            <div class="img-name">
                <img src="{{url_for('static' , filename='img/'+user_info.identifyImg)}}" alt="プロフィール画像" class="profile-image">
                <div class="profile-name">
                    <p>{{user_info.username}}</p>
                    <a href="{{ url_for('mypage.editProfile') }}">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" > 
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </div>
                    </a>
            </div>
                
                
            <div class="profile-rating">
                <span class="stars">
                    {% for i in range(evaluation)%}★{% endfor %}
                    {% for i in range(5-evaluation)%}☆{% endfor %}</span>
                <span class="rating-count">{{evaluationCount}}</span>
            </div>
            
            <div class="badge-group">
                <div class="badge">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    {% if user_info.status == "本人確認済み" %}
                        <p>本人確認済</p>
                    {% else %}
                        <p>未承認</p>
                    {% endif %}
                </div>
                {% if user_info.smoker == 0 %}
                    <span class="badge">喫煙者</span>
                {% else %}
                    <span class="badge">非喫煙者</span>
                {% endif %}
            </div>
            
            <div class="profile-stats">
                <div class="stat-item">
                    <span class="stat-number">{{products}}</span>
                    <span class="stat-label">出品数</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{follows}}</span>
                    <span class="stat-label">フォロー</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{followers}}</span>
                    <span class="stat-label">フォロワー</span>
                </div>
            </div>
            
            <div class="sold-info">
                <div class="sold-label">売上金</div>
                <div class="sold-amount">¥ 2</div>
            </div>
        </section>

        <section id="likes" class="sec">
            <div>
                <h2>いいね一覧</h2>
                <div class="sales-list">
                    {% if sales_list %}
                        {% for item in sales_list %}
                            <form action="{{url_for('mypage.transaction_detail')}}">
                                <div class="sales-item" >
                                    <div class="sales-info">
                                        <div class="sales-type">{{ item.type }}</div>
                                        <div class="sales-date">{{ item.date }}</div>
                                    </div>
                                    <div class="sales-amount">¥{{ "{:,}".format(item.amount) }}</div>
                                </div>
                            </form>
                        {% endfor %}
                    {% else %}
                        <p>振込履歴はまだありません。</p>
                    {% endif %}
                </div>
            </div>
        </section>

        <section id="follow-list" class="sec">
            <p>フォローリストを表示</p>
        </section>
        <section id="listed-items" class="sec">
            <p>出品商品を表示</p>

        </section>
        <section id="purchased-items" class="sec">
            <p>レンタル購入した商品を表示</p>
        </section>
        <section id="drafts" class="sec">
            <p>下書き一覧</p>
        </section>
        <section id="seller-center" class="sec">
            <p>セラーデータセンター</p>
        </section>

        <section id="payment" class="sec">
            <p>支払い方法</p>
        </section>
        <section id="privacy" class="sec">
            <p>個人情報設定</p>
        </section>
        <section id="notifications" class="sec">
            <p>お知られ・機能設定</p>
        </section>


        <section id="transfer-request" class="sec">
            <h2>振込申請</h2>
            <ul class="menu-list">
                <li class="menu-item"> <a href="{{url_for('mypage.bankRegistration')}}" class="menu-link">銀行口座登録</a></li>
                <li class="menu-item"> <a href="{{url_for('mypage.transferApplication')}}" class="menu-link">振込申請</a></li>
            </ul>
        </section>

        <section id=history class="sec">
            <h2>履歴</h2>
            <ul class="menu-list">
                <li class="menu-item"> <a href="{{url_for('mypage.salesHistory')}}" class="menu-link">売上履歴</a></li>
                <li class="menu-item"> <a href="{{url_for('mypage.transferHistory')}}" class="menu-link">振込履歴</a></li>
            </ul>
        </section>

        <section id="contact" class="sec">

        </section>
        <section id="faq" class="sec">

        </section>

        <section id="help-center" class="sec">
            <div class="img-name">
                <img src="{{url_for('static' , filename='img/'+user_info.identifyImg)}}" alt="プロフィール画像" class="profile-image">
                <div class="profile-name">
                    <p>{{user_info.username}}</p>
                    <a href="{{ url_for('mypage.editProfile') }}">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" > 
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </div>
                    </a>
            </div>
                
                
            <div class="profile-rating">
                <span class="stars">
                    {% for i in range(evaluation)%}★{% endfor %}
                    {% for i in range(5-evaluation)%}☆{% endfor %}</span>
                <span class="rating-count">{{evaluationCount}}</span>
            </div>
            
            <div class="badge-group">
                <div class="badge">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    {% if user_info.status == "本人確認済み" %}
                        <p>本人確認済</p>
                    {% else %}
                        <p>未承認</p>
                    {% endif %}
                </div>
                {% if user_info.smoker == 0 %}
                    <span class="badge">喫煙者</span>
                {% else %}
                    <span class="badge">非喫煙者</span>
                {% endif %}
            </div>
            
            <div class="profile-stats">
                <div class="stat-item">
                    <span class="stat-number">{{products}}</span>
                    <span class="stat-label">出品数</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{follows}}</span>
                    <span class="stat-label">フォロー</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{followers}}</span>
                    <span class="stat-label">フォロワー</span>
                </div>
            </div>
            
            <div class="sold-info">
                <div class="sold-label">売上金</div>
                <div class="sold-amount">¥ 2</div>
            </div>

        </section>

        <section id="terms" class="sec">
            <div class="img-name">
                <img src="{{url_for('static' , filename='img/'+user_info.identifyImg)}}" alt="プロフィール画像" class="profile-image">
                <div class="profile-name">
                    <p>{{user_info.username}}</p>
                    <a href="{{ url_for('mypage.editProfile') }}">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" > 
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </div>
                    </a>
            </div>
                
                
            <div class="profile-rating">
                <span class="stars">
                    {% for i in range(evaluation)%}★{% endfor %}
                    {% for i in range(5-evaluation)%}☆{% endfor %}</span>
                <span class="rating-count">{{evaluationCount}}</span>
            </div>
            
            <div class="badge-group">
                <div class="badge">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    {% if user_info.status == "本人確認済み" %}
                        <p>本人確認済</p>
                    {% else %}
                        <p>未承認</p>
                    {% endif %}
                </div>
                {% if user_info.smoker == 0 %}
                    <span class="badge">喫煙者</span>
                {% else %}
                    <span class="badge">非喫煙者</span>
                {% endif %}
            </div>
            
            <div class="profile-stats">
                <div class="stat-item">
                    <span class="stat-number">{{products}}</span>
                    <span class="stat-label">出品数</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{follows}}</span>
                    <span class="stat-label">フォロー</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{followers}}</span>
                    <span class="stat-label">フォロワー</span>
                </div>
            </div>
            
            <div class="sold-info">
                <div class="sold-label">売上金</div>
                <div class="sold-amount">¥ 2</div>
            </div>

        </section>
        <section id="policy" class="sec">

        </section>

        <section id="logout" class="sec">

        </section>
    </main>
    <script src="../../static/js/mypage.js"></script>
{% endblock %} 
