/* import font family*/
@import url('https://fonts.cdnfonts.com/css/informal-roman');

/********************************************* header **********************************************************/
.logo{
    font-family: "Informal Roman";
    font-weight: normal;
    color:white;
    font-size:40px;
}

header{
    background-color: black;
}