/* import font family*/
@import url('https://fonts.cdnfonts.com/css/informal-roman');

/********************************************* header **********************************************************/
.logo{
    font-family: "Informal Roman";
    font-weight: normal;
    color:white;
    font-size:40px;
}

header{
    background-color: black;
}
.header{
    display: flex;
    flex-direction: row wrap;
}
.header-left{
    margin: 0 10%;
    padding-top:30px;
    display: flex;
    flex-direction: row nowrap;
    gap:80px;
}

.header-right{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    gap:20px;
}
.header-icons{
    display: flex;
    flex-direction: flex nowrap;
    justify-content: space-between;
    /* gap:30px; */
}
.header-icons a{
    text-decoration: none;
}
.icon-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80px; */
   
}
.icon-item i{
    
}
.icon-item span{
    font-size: 10px;
    text-decoration: none;
    color:white;
}

.nav-container{
    width:380px;
}
.nav-container nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap:31px; */
    padding-bottom: 20px;
}

.nav-container nav a{
    color:white;
    font-size: 1rem;
    text-decoration: none;
}


.search-box {
  position: relative;
  display: inline-block;

}
.search-box input {
  padding: 8px 40px 8px 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width:400px;
}
.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 18px;
}
.search-btn:hover {
  color: #000;
}