<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}サブカリ{% endblock%}</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="header">

            <div class="header-left">
                <div class="logo">SUBKARI</div>
                
                <div class="search-container">
                    <form action="/search" method="get" class="search-box">
                        <button type="submit" class="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" name="keyword" placeholder="すべてのアイテムから探す">
                    </form>
                </div>
            </div>
            <div class="header-right">
                <div class="header-icons">
                    <a href="#" class="icon-item">
                        <img src="../img/mypage.png" class="icon"></img>
                        <span>マイページ</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="../img/heart.png" class="icon"></img>
                        <span>いいね</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="../img/inform.png" class="icon"></img>
                        <span>通知</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="../img/camera.png" class="icon"></img>
                        <span>出品</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="../img/deal.png" class="icon"></img>
                        <span>取引</span>
                    </a>
                    <a href="#" class="icon-item">
                        <img src="../img/hamburger.png" class="icon"></img>
                    </a>
                </div>

                <div class="nav-container">
                    <nav>
                        <a href="#">Coordinate</a>
                        <a href="#">Tops</a>
                        <a href="#">Bottoms</a>
                        <a href="#">Accessories</a>
                    </nav>
                </div>
            </div>
          
        
        </div>
    </header>

    <main>
        {% block content %}
     
        {% endblock %}
    </main>
    <footer>
        
    </footer>
</body>
</html>